In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import MissingIndicator,SimpleImputer

In [38]:
df=pd.read_csv(r"F:\ML\100 days ml\data\train.csv",usecols=['Age','Fare','Survived'])

In [39]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [40]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [41]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
si=SimpleImputer()
x_train_trf=si.fit_transform(x_train)
x_test_trf=si.transform(x_test)

In [48]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train_trf,y_train)
y_pred=clf.predict(x_test_trf)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6480446927374302

In [49]:
mi=MissingIndicator()
x_train_trf=mi.fit_transform(x_train)
x_test_trf=mi.transform(x_test)

In [51]:
clf.fit(x_train_trf,y_train)
y_pred=clf.predict(x_test_trf)
accuracy_score(y_test,y_pred)

0.5865921787709497