In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Gargi\Downloads\Salary_Data.csv")

In [3]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [4]:
df.shape

(6704, 6)

In [8]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [9]:
df['Education Level'].unique()

array(["Bachelor's", "Master's", 'PhD', "Bachelor's Degree",
       "Master's Degree", 'High School', 'phD'], dtype=object)

In [11]:
df['Job Title'].unique().shape

(191,)

In [ ]:
df['Gender']=df['Gender'].map('Male':0,'Female':1)

SyntaxError: invalid syntax (2215010576.py, line 1)

In [13]:
df['Gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
Ohe=OneHotEncoder(drop='first',sparse=False)

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x=df.drop(columns=['Salary'])
y=df['Salary']

In [57]:
x_train,x_test,y_trsin,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [58]:
x_gender_train=Ohe.fit_transform(x_train[['Gender']])

c:\Users\Gargi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [59]:
x_gender_test=Ohe.transform(x_test[['Gender']])

In [60]:
print(x_gender_train)

[[1. 0.]
 [0. 0.]
 [0. 0.]
 ...
 [1. 0.]
 [1. 0.]
 [0. 0.]]

In [53]:
x_train['Gender']

3426      Male
1552    Female
6021    Female
4461    Female
3286    Female
         ...
3776      Male
5195    Female
5230      Male
5395      Male
862     Female
Name: Gender, Length: 5358, dtype: object

In [61]:
x_train['Female']=x_gender_train[:,0]

In [62]:
x_train['Others']=x_gender_train[:,1]

In [64]:
x_train['Education Level'].unique()

array(["Master's Degree", 'PhD', 'High School', "Bachelor's Degree",
       "Bachelor's", "Master's", 'phD'], dtype=object)

In [65]:
x_train['Education Level'].value_counts()

Education Level
Bachelor's Degree    1803
Master's Degree      1258
PhD                  1101
Bachelor's            609
High School           368
Master's              218
phD                     1
Name: count, dtype: int64

In [66]:
x_train[x_train['Education Level']=="Bachelor's Degree"]

,Age,Gender,Education Level,Job Title,Years of Experience,Female,Others
3286,23.0,Female,Bachelor's Degree,Software Engineer,1.0,0.0,0.0
5449,26.0,Male,Bachelor's Degree,Marketing Analyst,2.0,1.0,0.0
4793,30.0,Female,Bachelor's Degree,Junior Marketing Manager,4.0,0.0,0.0
1884,33.0,Female,Bachelor's Degree,Full Stack Engineer,6.0,0.0,0.0
2213,36.0,Male,Bachelor's Degree,Software Engineer Manager,8.0,1.0,0.0
...,...,...,...,...,...,...,...
5339,30.0,Female,Bachelor's Degree,Digital Marketing Specialist,4.0,0.0,0.0
5739,30.0,Female,Bachelor's Degree,Marketing Coordinator,5.0,0.0,0.0
3776,29.0,Male,Bachelor's Degree,Software Engineer,4.0,1.0,0.0
5230,25.0,Male,Bachelor's Degree,Junior Software Engineer,1.0,1.0,0.0
5395,27.0,Male,Bachelor's Degree,Junior Software Engineer,1.0,1.0,0.0

In [67]:
x_train['Education Level'].unique()

array(["Master's Degree", 'PhD', 'High School', "Bachelor's Degree",
       "Bachelor's", "Master's", 'phD'], dtype=object)

In [69]:
x_train['Education Level'].str.split(", ")

3426      [Master's Degree]
1552      [Master's Degree]
6021                  [PhD]
4461          [High School]
3286    [Bachelor's Degree]
               ...
3776    [Bachelor's Degree]
5195      [Master's Degree]
5230    [Bachelor's Degree]
5395    [Bachelor's Degree]
862            [Bachelor's]
Name: Education Level, Length: 5358, dtype: object

In [71]:
dt={}

In [72]:
dt['Age']=[15,10,25,30,26]
dt['Salary']=[20000,21000,19000,50000,26000]

In [73]:
dt=pd.DataFrame(dt)

In [74]:
dt.head()

   Age  Salary
0   15   20000
1   10   21000
2   25   19000
3   30   50000
4   26   26000

In [75]:
x=dt['Age']
y=dt['Salary']

In [76]:
dt['Salary']=dt['Salary']/dt['Salary'].sum()

In [ ]:
class GradientDescent:
    def __init__(self,x,alpha):
        self.x=x
        self.alpha=alpha
    
    def fit(self,y):
        dydx=